@model _02___BibliotecaWEB.Models.Libro;

<h1>Dettagli del Libro numero @Html.DisplayFor(model => model.Id)</h1>

<p>Titolo: @Model.Titolo </p>
<p>Genere: @Model.Genere </p>
<p>AnnoPubblicazione: @Model.Annopubblicazione</p>
<p>Lingua: @Model.Linguaoriginale</p>
<p>Copie: @Model.Copiemagazzino</p>
<p>Autore: @Model.Idautore</p>
