@model _02___BibliotecaWEB.Models.Autore;

<h1>Dettagli dell'autore' numero @Html.DisplayFor(model => model.Id)</h1>

<p>Nome: @Model.Nome </p>
<p>Cognome: @Model.Cognome </p>
<p>Date of birth: @Model.Dob.ToString("dd/MM/yyyy") </p>
<p>Nazione: @Model.Nazione </p>

