@model _01___AziendaWeb.Models.Cliente;

<h1>CLIENTE N°: @Html.DisplayFor(model => model.Id)</h1>

<p>Nominativo: @Model.Nominativo </p>
<p>Partita Iva: @Model.Piva </p>
<p>Annofondazione: @Model.Annofondazione </p>
<p>Settore: @Model.Settore </p>
<p>Servizio Acquistato: @Model.Servizioacquistato </p>
<p>Capitale: @Model.Capitale </p>